<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    <a href="/">Back</a>
    <form action="/add" method="post">
        <input type="text" placeholder="Enter Name." name="name">
        <input type="text" placeholder="Enter Price." name="price">
        <button>Add</button>
    </form>
</body>
</html>