<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="/add" method="post">
        <input type="text" placeholder="Enter Name" name="name">
        <input type="text" placeholder="Enter Price" name="price">
        <button>Add</button>
        <a href="/">Back</a>
    </form>
</body>
</html>